<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">



  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>servlet.HelloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.MyServlet</servlet-name>
    <servlet-class>servlet.MyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.ItemsServlet</servlet-name>
    <servlet-class>servlet.ItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.MyItemsServlet</servlet-name>
    <servlet-class>servlet.MyItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.AddItemsServlet</servlet-name>
    <servlet-class>servlet.AddItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>servlet.HelloServlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.MyServlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.RegisterServlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.ItemsServlet</servlet-name>
    <url-pattern>/itemsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.MyItemsServlet</servlet-name>
    <url-pattern>/myitemsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.AddItemsServlet</servlet-name>
    <url-pattern>/additemsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.LogoutServlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>


</web-app>